projects/copper-sample/src/main/schema/wsdl/CustomerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CustomerServiceService"
	targetNamespace="http://customerservice.scoopgmbh.de/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://customerservice.scoopgmbh.de/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://customerservice.scoopgmbh.de/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://customerservice.scoopgmbh.de/">
			<xs:complexType name="customer">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="contractNumber" type="xs:string" />
					<xs:element minOccurs="1" maxOccurs="1" name="type" type="tns:customerType" />
					<xs:element minOccurs="1" maxOccurs="1" name="msisdn" type="xsd:string" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="getCustomersByMsisdnRequest">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="msisdn" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xsd:element name="getCustomersByMsisdnRequest" type="tns:getCustomersByMsisdnRequest"/>
			
			<xs:complexType name="getCustomersByMsisdnResponse">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="return" type="tns:customer" />
				</xs:sequence>
			</xs:complexType>
			<xsd:element name="getCustomersByMsisdnResponse" type="tns:getCustomersByMsisdnResponse"/>
			
			<xs:simpleType name="customerType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="PRIVATE" />
					<xs:enumeration value="BUSINESS" />
				</xs:restriction>
			</xs:simpleType>
			
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getCustomersByMsisdnRequest">
		<wsdl:part name="parameters" element="tns:getCustomersByMsisdnRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getCustomersByMsisdnResponse">
		<wsdl:part name="parameters" element="tns:getCustomersByMsisdnResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CustomerService">
		<wsdl:operation name="getCustomersByMsisdn">
			<wsdl:input message="tns:getCustomersByMsisdnRequest">
			</wsdl:input>
			<wsdl:output message="tns:getCustomersByMsisdnResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CustomerServiceServiceSoapBinding" type="tns:CustomerService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getCustomersByMsisdn">
			<soap:operation soapAction="http://customerservice.scoopgmbh.de/getCustomersByMsisdn" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CustomerServiceService">
		<wsdl:port name="CustomerServicePort" binding="tns:CustomerServiceServiceSoapBinding">
			<soap:address location="http://localhost:9091/CustomerServicePort" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
